p {
  color: blue;
  font-size: 10px;
}

a {
  color: green;
}

#transitions {
  position: absolute;
  top: 150px;
  left: 700px;
}

table {
  border-collapse: collapse;
}

th {
  border: 2px solid black;
  text-align: center;
}

td {
  border: 1px solid black;
  text-align: center;
  width: 25px;
  height: 25px;
}
